.pressed {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.pressed:hover {
    background-color: #3e8e41;
}
.pressed:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hover {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 5px;
    transition: all .5s;
}
.hover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.hover span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.hover:hover span {
    padding-right: 25px;
}
.hover:hover span::after {
    opacity: 1;
    right: 0;
}

.ripple {
    position: relative;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
    text-decoration: none;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}