.btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 16px;
}
.btn:hover {
    background-color: royalblue;
}