html, body {
    height: 100%;
}
.bg {
    background-image: url("https://placeimg.com/1000/800/nature");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}