body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.row {
    width: 100%;
    display: flex;
    padding: 0 4px;
    position: relative;
}
.column {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    width: 100%;
    padding: 0 4px;
}

.grayscale {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50);
}

.grayscale1 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100);
}
