body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 32px;
}
.row {
    width: 25%;
    display: flex;
    padding: 0 4px;
    position: relative;
}
.column1 {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    width: 100%;
    padding: 0 4px;
}
.column2 {
    position: relative;
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    width: 100%;
    padding: 0 4px;
}
img {
    width: 200px;
    height: 300px;
}
.image1 {
    width: 100%;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: #008CBA;
    opacity: 0;
}
/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 25%;
}
.image2 {
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.text {
    color: white;
    font-size: 20px;
    position: inherit;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text2 {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    background-color: #4CAF50;
}
#pic1:hover .overlay{
    opacity: 0.5;
}

.container:hover .image2 {
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
    background-color: red;
}