
* {
    box-sizing: border-box;
}
.img-magnifier-container {
    position: relative;
}
.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: none;
}
.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}
