ul {list-style-type: none;}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
.month .prev:hover {
    color: red;
}
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}
.month .next:hover {
    color: red;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    width: 100%;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666666;
    text-align: center;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 100%;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    color: #777777;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
    text-align: center;
}
@media screen and (max-width: 720px) {
    .weekdays li, .days li {width: 13.1%;}
}
@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}
@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}