* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 100%;
}
.chip {
    width: 30%;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
.chip img {
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%
}
.closeBtn {
    top: 0;
    right: 0;
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    float: right;
}
.closeBtn:hover {
    color: #000000;
}
.name {
    padding-top: 20px;
    background-color: red;
}