* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.popup {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 50px;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 120px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
     /* Position the popup text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in popup */
    opacity: 0;
    transition: opacity 0.3s;
}

/* popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}