body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
}
.columns {
    flex: 1;
    padding: 8px;
}
.price {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border:  1px solid #eee;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
.price .grey {
    background-color: #eee;
    font-size: 20px;
}
.price .button {
    background-color: #4CAF50;
    border: none;
    outline: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
@media screen and (max-width:600px) {
    .columns {
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
}