* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.column {
    flex-grow: 1;
    padding: 0 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
}
.fa { font-size: 50px; }
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .column {
        margin-bottom: 10px;
    }
}