* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
    display: flex;
    background-color: #111;
    align-items: center;
}
.column {
    flex-grow: 1;
}
.centered {
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
}
.centered img {
    border-radius: 50%;
}