
hr.new1 {
    border-top: 1px solid red;
}
hr.new2 {
    border-top: 1px dashed red;
}
hr.new3 {
    border-top: 1px dotted red;
}
hr.new4 {
    border: 1px solid red;
}
hr.new5 {
    border-top: 10px solid green;
    border-radius: 5px;
}