body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.tablinks {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink hover {
    background-color: #777;
}
.tabcontent {
    display: none;
    padding: 100px 20px;
    color: white;
    height: 100%;
}
#Home {background-color: red;}
#News {background-color: blue;}
#Contact {background-color: orange;}
#About {background-color: green;}