#mySearch {
    width: 100%px;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myMenu li a {
   background-color: #f6f6f6;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   color: black;
   display: block;
}
#myMenu li a:hover {
    background-color: #eee;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.left {
    flex: 35%;
}
.right {
    flex: 65%;
    padding: 15px;
}
