/*the container must be positioned relative:*/
.custom-select {
    width: 200px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: dodgerblue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.selected-items div, .select-selected {
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/*style items (options):*/
.selected-items {
    position: absolute;
    background-color: dodgerblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.selected-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}