input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;  /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.row {
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, button {
        width: 100%;
        margin-top: 0;
    }
}